@import '../../styles/colors.scss';


.headerWrap{
  display: flex;
  flex-direction: column;
  border-top: 40px solid $primaryDark;
  align-items: center;
  background-color: $primary;

  img{
    margin-top: 20px;
    width: 80px;
  }

  h1{
    color: $white;
    margin: 16px 0 20px;
  }
}
